{% extends "layout.html.twig" %}

{% block title %}Error!{% endblock %}

{% block content %}
<div class="row" id="errorPanel">
    <div class="col-xs-5">
        <img class="img-responsive pull-right" src="{{ app.request.basepath }}/images/404-ghost.png" alt="Error ghost"/>
    </div>
    <div class="col-xs-6">
        <h1>Whoops...<br><small>{{ message }}</small></h1>
    </div>
</div>
{% endblock %}
