{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for article in articles %}
<article>
    <h2><a class="articleTitle" href="/article/{{ article.id }}">{{ article.title }}</a></h2>
    <p>{{ article.content }}</p>
</article>
{% endfor %}
{% endblock %}
